<div class="footerStyle">
    <div class="socialMedia d-flex gap-3">
        <a href="https://www.instagram.com/sergio_polo_s/" target="_blank" ><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/SergioePolo" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
    </div>
    <span>
        &copy; Creado por Sergio Enrique Polo
    </span>
    <span>
        &copy; Todos los derechos reservados
    </span>
</div>